
<div class="heado">
    <div class="assets\logo">
      <img src="assets\cict logo.svg">
    </div>
    <div class="cict">
      College of Information & <br>Communications Technology
    </div>
    <div class="adm">
      <div class="notif">
        <img src="assets\notify.svg">
      </div>
      <div class="ad">
        <b>Admin</b>
      </div>
      <div class="prof">
        <img src="assets\profie.svg">
      </div>
    </div>
</div>

<div class="list">
    <div class="dashnav">
      <div class="ima">
        <ul style="list-style: none;">
          <li class="dashima"><img src="assets\dash.svg"></li>
          <li class="appima"><img src="assets\approval.svg"></li>
          <li class="setima"><img src="assets\settings.svg"></li>
          <li class="userima"><img src="assets\users.svg"></li>
          <li class="summima"><img src="assets\summary.svg"></li>
  
        </ul>
      </div> 
      <div class="col">
        <nav>
          <ul class="uls">
            <li class="dash"><a class="arefh" routerLink="dashboard" routerLinkActive="active" >Dashboard</a></li>
            <li class="approv"><a class="arefh" routerLink="approval" routerLinkActive="active" >Approval</a></li>
            <li class="setman"><a class="arefh" routerLink="settings" routerLinkActive="active" >Settings & Management</a></li>
            <li class="sers"><a class="arefh" routerLink="users" routerLinkActive="active" >Users</a></li>
            <li class="summa"><a class="arefh" routerLink="summary" routerLinkActive="active" >Summary</a></li>
          </ul>
        </nav>
      </div> 
    </div>

    <div>
    </div>
        
  </div>
