<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CICT Capstone Evaluation</title>
  </head>
  <body>
    <div class="logs">
        <div class="logo">
            College of Information &<br>Communication Technology
            <div class="em">
                <label for="email"><b>EMAIL</b></label><br>
                <input type="text" placeholder="Email" style="height:30px" size="40" email="emal" required>
            </div>
            <div class="pa">
                <label for="pass"><b>PASSWORD</b></label><br>
                <input type="password" placeholder="Enter your password" style="height:30px" size="40" pass="pass" required><br>
            </div>
            <div>
                <input type="checkbox" id="remember">
                <label for="remeber"> remember me </label>
            </div>
            <div class="logy">
                <button><a routerLink="dashboard" routerLinkActive="active" >Log In</a></button>
              </div>
              <div class="dont">
                Don't have an account? Signup
              </div>
        </div>
        <div class="CICT">
            CICT Capstone Evaluation
        </div>
    </div>
    
  </body>
</html>

